@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
  padding: 5px;
  max-width: 100%;
  font-family: 'Shadows Into Light', cursive;
}
form{
  max-width: 50%;
  text-align: center;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

h2{
 text-align: center;

}

.btn{
  width: 100%;
}
